<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * PwC India
 *
 * @category Magento
 * @package  Novel_Notification
 * @author   PwC India
 * @license  GNU General Public License ("GPL") v3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    <tab id="novel_login_otp" translate="label" sortOrder="200">
            <label>Novel</label>
        </tab>
        <section id="novel_notification" translate="label" sortOrder="200"
                showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Notification</label>
            <tab>novel_login_otp</tab>
            <resource>Novel_Notification::config</resource>
        <group id="mail" translate="label" sortOrder="10"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mail</label>
                 <field id="scheme" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Payment Success After Scheme</label>
                    <source_model>Novel\Notification\Model\Config\Source\SchemeOptions</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>    
                    <field id="reminder" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Payment Reminder</label>
                    <source_model>Novel\Notification\Model\Config\Source\SchemeOptions</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>    
                    <field id="emi" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>EMIs Payment Notification</label>
                    <source_model>Novel\Notification\Model\Config\Source\SchemeOptions</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>    
                    <field id="overdue" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Payment Overdue</label>
                    <source_model>Novel\Notification\Model\Config\Source\SchemeOptions</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>              
            </group>

        <group id="whatsapp" translate="label" sortOrder="20"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Whatsapp</label>
                 <field id="from" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>From</label>
                    <comment>Enter the From Mobile Number</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="endpoint" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Endpoint</label>
                    <comment>Enter the API Endpoint URL</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="key1" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key 1</label>
                    <comment>Enter the API Key 1</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="auth_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auth Key</label>
                    <comment>Enter the Auth Key</comment>
                    <validate>required-entry</validate>
                    <!-- <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model> -->
                </field>
                <!-- Additional Configuration Fields -->
                <field id="webhook_dn_id" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Webhook DN Id</label>
                    <comment>Enter Webhook DN Id</comment>
                </field>
         </group>
        <group id="template" translate="label" sortOrder="30"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Templates</label>
                <field id="to_test" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>To</label>
                        <validate>validate-digits</validate>     
                        <default>919876543210</default>                    
                    </field>
                        <!-- Template Fields -->
                    <field id="templates" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Template Details</label>
                        <frontend_model>Novel\Notification\Block\Adminhtml\System\Ranges</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    </field>    
            </group>
        </section>
    </system>
</config>
