<?xml version="1.0"?>
<!--
/**
 * PwC India
 *
 * @category Magento
 * @package  Novel_Notification
 * @author   PwC India
 * @license  GNU General Public License ("GPL") v3.0
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
 
    <type name="Novel\Notification\Api\SmsInterface">
        <arguments>
            <argument name="model" xsi:type="object">Novel\Notification\Model\SmsModel</argument>
        </arguments>
    </type>

    <preference for="Novel\Notification\Api\SmsInterface" type="Novel\Notification\Model\SmsModel"/>
<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="notification_listing_data_source" xsi:type="string">Novel\Notification\Model\ResourceModel\SmsModel\Grid\Collection</item>
			</argument>
		</arguments>
	</type>

	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="notification_form_data_source" xsi:type="string">Novel\Notification\Model\ResourceModel\SmsModel\Grid\Collection</item>
			</argument>
		</arguments>
	</type>

    <virtualType name="NotificationGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
		<arguments>
			<argument name="collection" xsi:type="object" shared="false">Novel\Notification\Model\ResourceModel\SmsModel\Collection</argument>
			<argument name="filterPool" xsi:type="object" shared="false">NotificationGridFilterPool</argument>
		</arguments>
	</virtualType>
<virtualType name="NotificationGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
		<arguments>
			<argument name="appliers" xsi:type="array">
				<item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
				<item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
			</argument>
		</arguments>
	</virtualType>
    	<virtualType name="Novel\Notification\Model\ResourceModel\SmsModel\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">sms_notification</argument>
			<argument name="resourceModel" xsi:type="string">Novel\Notification\Model\ResourceModel\SmsModel</argument>
		</arguments>
	</virtualType>
</config>